@font-face {
    font-family: 'Montserrat';
    src: url(../../../public/font/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../../public/font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../../public/font/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}