//--------Web Page Colors---------//
$color-main-1: #7F0014;
$color-main-2: #E84E1B;
$color-accent-1: #9B9B9B;
$color-accent-2: #4A4A4A;
$color-accent-3: #1D1D1B;
$color-fill-1: #111111;
$color-bg: #F3F3F3;
$black: #000;
$white: #ffff;